html {
    min-height: 100%;
    margin: 0;
    width: 100%;
    background-color: #747a92;
    color: #313035;
    font-family: Verdana;
}

body {
    margin: 0px;
    min-height: 100%;
    text-align: center;
}

#mainBody {
    width: 95%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #b9c0db;
    border-radius: 10%;
    /* margin: 8vh; */
}

.ProfilePic{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

h1 {
    padding-top: 2vw;
    text-align: center;
}

section {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
}

h4 {
    margin-bottom: 1vh;
}

#list {
    list-style: none;
    padding: 0;
}
  
#listItem {
    display: inline;
}

#Projects{
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    border-radius: 2%;
    border: double;
}

.LinkedInPic{
    margin-left: 1vw;
}

.favorites{
    display: table;
    margin: 0 auto;
}

li{
    text-align: left;
}

.Contact{
    padding-bottom: 2vw;
}

#Skills{
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    border: double;
}

#About{
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    border-radius: 10%;
    border: double;
}

.topnav {
    background-color: #0c0331;
    overflow: hidden;
    width: 100%;
    top: 0;
    position: fixed;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: rgb(187, 210, 216);
    color: rgb(0, 5, 46);
  }

  .topnav a.active {
    background-color: #0491aa;
    color: white;
  }

  .main {
    margin-top: 30px;
  }