html {
    min-height: 100%;
    margin: 0;
    width: 100%;
    background-color: #747a92;
    color: #313035;
}

body {
    margin: 0px;
    min-height: 100%;
    text-align: center;
}

#mainBody {
    width: 95%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #b9c0db;
    border-radius: 10%;
    /* margin: 8vh; */
}

.ProfilePic{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

h1 {
    padding-top: 2vw;
    text-align: center;
}

section {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
}

h4 {
    margin-bottom: 1vh;
}

#list {
    list-style: none;
    padding: 0;
}
  
#listItem {
    display: inline;
}

/* #Projects{
} */

.LinkedInPic{
    margin-left: 1vw;
}
.favorites{
    display: table;
    margin: 0 auto;
}

li{
    text-align: left;
}

.contact{
    padding-bottom: 2vw;
}